{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center form-section">
    <div class="col-md-6">
        <div class="card mt-5">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-12">
                        <h2 class="text-center fw-bold">Sign Up</h2>
                    </div>
                </div>

                <form method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn orange-btn w-100 mt-3">Sign Up</button>
                </form>

                <div class="text-center mt-3">
                    <p class="mb-0">Already have an account? <a href="{% url 'account_login' %}" class="text-decoration-none text-primary">Login here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}