{% extends "base.html" %} {% load static %} {% block content %}

<h1 class="about-me" style="font-family: 'poppins';">About Jingle Bites</h1>
<!--Hero Image -->
<section class="card-section">
    <div class="new-card-container">
        <!-- New Card at the top with only image -->
        <div class="top-card new-card">
            <div class="card-content">
                <img src="{% static 'images/first-Container-imge.jpeg' %}" alt="New Card Image" /> 
            </div>
        </div>
    </div>
</section>

<br /><br />

<section>
    <h2 class="about-page" style="font-size: 30px; font-family: 'poppins';">About The Page</h2>
    <div class="text-center mb-4">
    <img src="{% static 'images/decorative-line.png' %}" class="decorative-line"
    style="
    mix-blend-mode: multiply;
    width: 200px;
    margin-bottom: 20px;
    
    "
    alt="decorative line">
</div>
    <p class="about-this-page" style="text-align: center; font-size: 20px; padding-left: 20px; padding-right: 20px;">
    Welcome to Jingle Bites, your one-stop destination for all things delicious
    this holiday season! Designed with love by Jingle Bites Team developers, this
    website brings you a curated collection of festive Christmas recipes. Whether
    you're looking for classic holiday treats, innovative desserts, or hearty
    family meals, Jingle Bites has something for everyone. Our goal is to spread
    the joy of cooking and make your holiday preparations easy, fun, and
    memorable. Explore, cook, and celebrate with us this Christmas!
    </p>
    <br /><br />
    <div class="image-container">
    <img
        src="{% static 'images/recipe-image.png' %}"
        style="border-radius: 10px; box-shadow: 10px 10px 10px  #744261;"
        alt="christmas Image"
        class="christmas-image"
    />
    </div>
</section>

<br /><br />

<section>
    <h2 class="about-recipes" style="font-size: 30px; font-family: 'poppins';">About The Recipes</h2>
    <div class="text-center mb-4">
        <img src="{% static 'images/decorative-line.png' %}" class="decorative-line"
        style="
        mix-blend-mode: multiply;
        width: 200px;
        margin-bottom: 20px;
        
        "
        alt="decorative line">
    </div>
    <p class="about-the-recipes" style="text-align: center; font-size: 20px; padding-left: 20px; padding-right: 20px;">
    Jingle Bites brings the magic of Christmas to your table with a delightful
    collection of festive recipes. Whether you're hosting a family feast or
    looking for quick treats, our recipes are designed to make your holiday
    cooking joyful and memorable.   
    </p>
    <br /><br />
    <div class="image-container">
    <img
        src="{% static 'images/chrismas1.png' %}"
        style="
        width: 250px;
        height: 175px;        
        border-radius: 10px;
        box-shadow: 5px 5px 5px  #744261;
        "
        alt="Recipe Image 1"
        class="recipe-image-1"
    />
    <img
        src="{% static 'images/chrismas2.png' %}"
        style="
        width: 250px;
        height: 175px;        
        border-radius: 10px;
        box-shadow: 5px 5px 5px  #744261;
        "
        alt="Recipe Image 2"
        class="recipe-image-2"
    />
    <img
        src="{% static 'images/chrismas3.png' %}"
        style="width: 250px; height: 175px; 
        border-radius: 10px; 
        box-shadow: 5px 5px 5px  #744261;"
        alt="Recipe Image 3"
        class="recipe-image-3"
    />
    </div>
</section>

{% endblock %}
