.tabs-container {
    /* width: 80%;
              margin: 50px auto; */
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  .tabs-header {
    display: flex;
    border-bottom: 1px solid #ddd;
  }
  .tab-link {
    flex: 1;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
  }
  .tab-link:hover {
    background: #f0f0f0;
  }
  .tab-link.active {
    background: #744261;
    color: #fff;
  }
  .tab-content {
    display: none;
    padding: 20px;
  }
  .tab-content.active {
    display: block;
  }
  