{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>{{ recipe.title }}</h1>
        {% if recipe.image %}
            <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
        {% else %}
            <p>No image available.</p>
        {% endif %}
        <p>{{ recipe.description }}</p>
        <p>{{ recipe.ingredients }}</p>
        <p>{{ recipe.instructions }}</p>
    </div>
</div>


<!-- All Recipes displayed here-->
<div class="row d-flex justify-content-center">
    <div class="col">
        <div class="card-body">
            {% for recipe in recipes %}
            <li>
                <h3>{{ recipe.title }}</h3>
                {% if recipe.image %}
                    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
                {% else %}
                    <p>No image available.</p>
                {% endif %}
                <p>{{ recipe.description }}</p>
                <a href="../detail/{{recipe.id}}" class="btn btn-lg col-md-6 reservation-card-btn">Recipe detail</a>
            </li>
            {% empty %}
                <li>No recipes available.</li>
            {% endfor %}
        </div>
    </div>
    
    <div class="col">
        {% if user.is_authenticated and user == recipe.author %}
            <!-- Edit Button -->
            <a href="{% url 'edit_recipe' recipe.id %}" class="btn btn-dark">
                Edit Recipe
            </a>

            <!-- Delete Button -->
            <a href="{% url 'delete_recipe' recipe.id %}" class="btn btn-danger">
                Delete Recipe
            </a>
        {% endif %}
    </div>
</div>

{% endblock %}