.main-body-category {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  margin-top: 50px;
}

.container-category-container {
  background-color: white;
  padding: 20px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
}

.text-content {
  flex: 1;
  padding-right: 20px;
}

.text-content h1 {
  font-weight: 700;
  text-align: left;
  font-size: 2.5em;
  color: #744261;
  margin: 20px 0;
}

.text-content p {
  font-size: 1em;
  color: #666;
  margin: 10px 0;
}

.text-content .info {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.text-content .info i {
  color: #744261;
  margin-right: 10px;
}

.text-content .info span {
  font-size: 1em;
  color: #744261;
  margin-right: 20px;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-content img {
  max-width: 100%;
  border-radius: 10px;
}

.recipe-body {
  margin-bottom: 50px;
  font-family: Arial, sans-serif;
  padding: 0;
  display: flex;
  flex-direction: row;
  background-color: #744261;
  color: #fff;
}

.recipe-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.recipe-left-column,
.recipe-right-column {
  padding: 20px;
  width: 50%;
}

.recipe-right-column {
  background-color: #fff;
  color: #744261;
}

.recipe-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.recipe-text {
  font-size: 1em;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .container-category-container {
    flex-direction: column;
  }
  .recipe-container {
    flex-direction: column;
  }
  .recipe-left-column,
  .recipe-right-column {
    width: 100%;
  }
}
